/*  

.agtimg {
  grid-row: 2 / span 5;
  grid-column: 1 / span 2;
}

.agentname {
  
  grid-row: 1;
  grid-column: 1 / span 2;
}

.agtdescription {
  grid-row: 6/ span 8;
  grid-column: 1 / span 2;
}

.abi-img {
  grid-column: 3;
}


.abi-desc {
  grid-column: 5;
  padding: 50px;

}


*/

.agentlist {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.agentimg {
  max-width: 30vh;
  max-height: 30vh;
  padding-top: 30%;
}

.agtdescription {
  padding-bottom: 30px;
  margin: 0 20px 0 20px;
}

.abi-container {
  border-top: 2px solid white;
}

.abi-icon {
  padding: 10px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 50%;
  max-width: 5vh;
  max-height: 5vh;
}

.abi-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.abi-desc {
  padding-bottom: 30px;
  margin: 0 20px 0 20px;
}
