#header-msg {
  font-size: 30px;
  margin-top: 20%;
}

.main-container {

}

#welcome-msg {
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 47vh;
}

.message {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
}

@media screen and (min-width: 480px) {
  #header-msg {
    margin-top: 10%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    min-height: 56vh;
  }

  .message {
    
  }
}