#maplist {
  list-style-type: none;
  padding: 0;
}

.mapimg {
  max-width: 50vh;
  max-height: 50vh;
  padding: 10px 0 20px 0;
}

.map-name {
  padding-bottom: 10px;
}

@media screen and (min-width: 670px) {
  .map-container {
  display: grid;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: repeat(3, 1fr);
}

.map-name{
  font-size: 20px;
  padding-bottom: 50px;
}

}
